<mat-toolbar color="primary">
  <span>AngularTodo</span>
  <span style="flex: 1 1 auto"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
      <mat-icon>input</mat-icon>
      <span>home</span>
    </button>
    <button mat-menu-item routerLink="/jquery">
      <mat-icon>input</mat-icon>
      <span>jquery</span>
    </button>
    <button mat-menu-item routerLink="/angular">
      <mat-icon>input</mat-icon>
      <span>angular</span>
    </button>

  </mat-menu>

</mat-toolbar>
<router-outlet></router-outlet>
